@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    font-size: 10px;
    overflow-x: hidden;
    position: relative;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.preload {
    transition: none !important;
}

.attribution {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 50%;
    margin-top: 1rem;
    color: var(--deselected-text-color-light);

    & a {
        color: hsl(228, 45%, 44%);
    }
}
