.header {
    --header-height: clamp(5.5rem, 8vw, 10rem);
    width: 100%;
    height: clamp(5.5rem, 8vw, 10rem);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: clamp(2rem, 5vw, 10rem);

    & > * {
        margin-inline: 1rem;
    }

    &__logo {
        order: 1;
    }

    // ==== NAV ICONS ====
    &__nav-container {
        order: 0;
    }

    &__nav-icon-container {
        position: relative;
        z-index: 11;
    }

    &__nav-icon {
        display: none;
        pointer-events: none;
        cursor: pointer;
        visibility: hidden;
        outline: none;
        border: none;
        background-color: inherit;

        &:focus-visible {
            outline: 2px solid var(--orange);
        }

        &--active {
            display: block;
            pointer-events: all;
            visibility: visible;
        }
    }

    // ==== CART ====
    &__cart-container {
        all: unset;
        box-sizing: border-box;
        order: 2;
        position: relative;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus-visible {
            outline: 2px solid var(--75black);
        }

        &--opened > svg {
            color: var(--black);
        }
    }

    &__cart {
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: var(--dark-gray-blue);
        transition: color 0.15s ease;
    }

    &__cart-counter {
        position: absolute;
        top: -25%;
        right: -40%;
        background-color: var(--orange);
        color: var(--white);
        padding: 0.1rem 0.8rem;
        border-radius: 1rem;
        font-size: 0.95rem;
        display: none;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        max-width: 2rem;

        &--active {
            display: flex;
        }
    }

    // ==== PROFILE ====
    &__profile {
        --outline-width: 2px;
        order: 3;
        height: 50%;
        aspect-ratio: 1;
        border-radius: 50%;
        box-shadow: 0 0 0 var(--outline-width) transparent;
        transition: box-shadow 0.15s ease;
        cursor: pointer;
    }

    // ==== DESKTOP ====
    @media only screen and (min-width: 1200px) {
        padding: 0;
        border-bottom: 1px solid var(--gray-blue);
        width: 75%;
        margin-inline: auto;

        &__logo {
            order: 0;
        }

        &__nav-container {
            order: 1;
            height: 100%;
        }

        &__nav-icon-container {
            display: none;
        }

        &__cart-container {
            margin-right: 3rem;
        }
    }

    @media (hover: hover) {
        &__cart {
            &:hover {
                color: var(--very-dark-blue);
            }
        }

        &__profile {
            &:hover {
                box-shadow: 0 0 0 var(--outline-width) var(--orange);
            }
        }
    }
}
