.nav {
    display: flex;
    background-color: var(--white);
    height: 100%;
    width: min(calc(2 / 3 * 100%), 40rem);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 5.5rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

    &--active {
        transform: translate(0);
    }

    &__overlay {
        position: absolute;
        z-index: 9;
        background-color: var(--75black);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;

        &--active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1.5rem 3rem;
    }

    &__item {
        margin-bottom: 2rem;
    }

    &__link {
        outline: none;
        color: var(--very-dark-blue);
        font-weight: 700;
        font-size: 1.8rem;

        &:focus-visible {
            outline: 2px solid var(--75black);
        }
    }

    @media only screen and (min-width: 1200px) {
        position: static;
        padding: 0;
        width: inherit;
        transform: translate(0);
        transition: none;
        margin-left: 5rem;

        &__overlay {
            display: none;
        }

        &__list {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            padding: 0;
        }

        &__item {
            margin: 0;
            height: 100%;
            border-bottom: 3px solid transparent;
            transition: border-bottom 0.15s ease;
        }

        &__link {
            font-weight: 400;
            color: var(--dark-gray-blue);
            font-size: 1.5rem;
            transition: color 0.15s ease;
            height: 100%;
            display: flex;
            align-items: center;
        }

        @media (hover: hover) {
            &__item {
                &:hover {
                    border-bottom: 3px solid var(--orange);
                }
            }

            &__link {
                &:hover {
                    color: var(--very-dark-blue);
                }
            }
        }
    }
}
